@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  background-color: #DEE2E6;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
}
#header {
  background-color: #212529;
  height: 125px;
  line-height: 125px;
}
#header li {
  display: inline;
  padding-left: 20px;
}
#header a {
  color: #e9ecef;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#header a:hover {
  color: #ADB5BD;
}
#header_title {
  display: block;
  float: left;
  font-size: 20px;
  font-weight: bold;
}
#header_nav {
  display: block;
  float: right;
  margin-top: 0;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
#footer {
  background-color: #2f2f2f;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 70px;
  max-height: 100px;
}
#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#footer p {
  color: white;
}
.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
a {
  color: #1abc9c;
  text-decoration: none;
}
a:hover {
  color:#F6A623;
}
.post, .about {
  max-width: 800px;
  margin: 0 375px;
  padding: 40px 0;
}
.about {
  text-align: center;
}
.post_container:nth-child(even) {
  background-color: #f2f2f2;
}
h1, h2, h3, h4 {
  color: #333;
}
p {
  line-height: 1.75;
}
img {
  width: 300px;
  height: 300px;
}
#hpfooter {
  background-color: #2f2f2f;
  position: relative;
  width: 100%;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 70px;
  max-height: 100px;
}
#hpfooter h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#hpfooter p {
  color: white;
}